/* line 1, /Users/code/orlene/app/assets/stylesheets/_menu.css.scss */
h1, h2, h3, h4, h5 {
  color: #813c8e;
  font-family: 'Quicksand', sans-serif;
}

/* line 9, /Users/code/orlene/app/assets/stylesheets/_menu.css.scss */
#nav-menu ul li {
  margin-top: 5px;
  margin-bottom: 25px;
  margin-right: 25px;
  color: #813c8e;
  font-family: 'Quicksand', sans-serif;
}
/* line 15, /Users/code/orlene/app/assets/stylesheets/_menu.css.scss */
#nav-menu ul li h4 {
  color: #813c8e;
}
/* line 17, /Users/code/orlene/app/assets/stylesheets/_menu.css.scss */
#nav-menu ul li h4 a:link {
  color: #813c8e;
}
/* line 20, /Users/code/orlene/app/assets/stylesheets/_menu.css.scss */
#nav-menu ul li h4 a:visited {
  color: #813c8e;
}
/* line 23, /Users/code/orlene/app/assets/stylesheets/_menu.css.scss */
#nav-menu ul li h4 a:hover {
  color: #813c8e;
}
/* line 26, /Users/code/orlene/app/assets/stylesheets/_menu.css.scss */
#nav-menu ul li h4 a:active {
  color: #813c8e;
}
/* line 30, /Users/code/orlene/app/assets/stylesheets/_menu.css.scss */
#nav-menu ul li a:link {
  color: #813c8e;
}
/* line 33, /Users/code/orlene/app/assets/stylesheets/_menu.css.scss */
#nav-menu ul li a:visited {
  color: #813c8e;
}
/* line 36, /Users/code/orlene/app/assets/stylesheets/_menu.css.scss */
#nav-menu ul li a:hover {
  color: #813c8e;
}
/* line 39, /Users/code/orlene/app/assets/stylesheets/_menu.css.scss */
#nav-menu ul li a:active {
  color: #813c8e;
}
/* line 5, /Users/code/orlene/app/assets/stylesheets/albums.css.scss */
#newphotos {
  margin-left: 30px;
  margin-right: 30px;
}
/* line 5, /Users/code/orlene/app/assets/stylesheets/home.css.scss */
h1, h2, h3, h4, h5 {
  color: #813c8e;
  font-family: 'Quicksand', sans-serif;
}

/* line 10, /Users/code/orlene/app/assets/stylesheets/home.css.scss */
p {
  font-family: 'Quicksand', sans-serif;
}

/* line 14, /Users/code/orlene/app/assets/stylesheets/home.css.scss */
#blog-column {
  max-width: 22%;
  margin: 17px;
}
/* line 17, /Users/code/orlene/app/assets/stylesheets/home.css.scss */
#blog-column img {
  -moz-border-radius: 15px;
  border-radius: 15px;
}
/* line 21, /Users/code/orlene/app/assets/stylesheets/home.css.scss */
#blog-column hr {
  color: #813c8e;
  height: 3px;
  width: 85%;
  align: center;
}
/* line 27, /Users/code/orlene/app/assets/stylesheets/home.css.scss */
#blog-column h5 {
  text-align: center;
}
/* line 30, /Users/code/orlene/app/assets/stylesheets/home.css.scss */
#blog-column a:link {
  color: #813c8e;
}
/* line 33, /Users/code/orlene/app/assets/stylesheets/home.css.scss */
#blog-column a:visited {
  color: #813c8e;
}
/* line 36, /Users/code/orlene/app/assets/stylesheets/home.css.scss */
#blog-column a:hover {
  color: #813c8e;
}
/* line 39, /Users/code/orlene/app/assets/stylesheets/home.css.scss */
#blog-column a:active {
  color: #813c8e;
}
/* line 42, /Users/code/orlene/app/assets/stylesheets/home.css.scss */
#blog-column p {
  font-family: 'Quicksand', sans-serif;
}

/* line 47, /Users/code/orlene/app/assets/stylesheets/home.css.scss */
#wedding-column {
  max-width: 47%;
  margin: 17px;
  border-style: double;
  border-color: #bda6fe;
  background-color: #EAE5F5;
  margin-bottom: 45px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  font-family: 'PT Sans', sans-serif;
}
/* line 57, /Users/code/orlene/app/assets/stylesheets/home.css.scss */
#wedding-column img {
  margin-bottom: 45px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}

/* line 64, /Users/code/orlene/app/assets/stylesheets/home.css.scss */
#about {
  background-color: white;
  -moz-border-radius: 15px;
  border-radius: 15px;
  margin-bottom: 17px;
}
/* line 71, /Users/code/orlene/app/assets/stylesheets/home.css.scss */
#about a:link {
  color: #813c8e;
}
/* line 74, /Users/code/orlene/app/assets/stylesheets/home.css.scss */
#about a:visited {
  color: #813c8e;
}
/* line 77, /Users/code/orlene/app/assets/stylesheets/home.css.scss */
#about a:hover {
  color: #813c8e;
}
/* line 80, /Users/code/orlene/app/assets/stylesheets/home.css.scss */
#about a:active {
  color: #813c8e;
}
/* line 83, /Users/code/orlene/app/assets/stylesheets/home.css.scss */
#about p {
  font-family: 'Quicksand', sans-serif;
  color: #813c8e;
}

/* line 89, /Users/code/orlene/app/assets/stylesheets/home.css.scss */
#terr-column {
  max-width: 22%;
  margin: 17px;
  text-align: center;
}
/* line 93, /Users/code/orlene/app/assets/stylesheets/home.css.scss */
#terr-column img {
  margin: 8px;
  max-width: 175px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}

/* line 101, /Users/code/orlene/app/assets/stylesheets/home.css.scss */
#pagehead {
  display: inline-block;
}

/* line 105, /Users/code/orlene/app/assets/stylesheets/home.css.scss */
#my-picks-div {
  margin-bottom: 15px;
}

/* line 113, /Users/code/orlene/app/assets/stylesheets/home.css.scss */
#contact {
  text-align: center;
  color: #813c8e;
  font-family: 'Quicksand', sans-serif;
}
/* line 117, /Users/code/orlene/app/assets/stylesheets/home.css.scss */
#contact a {
  text-align: center;
  color: #813c8e;
  margin-right: 5px;
}

/* line 125, /Users/code/orlene/app/assets/stylesheets/home.css.scss */
#dashboard h1 {
  text-align: center;
}

/* line 132, /Users/code/orlene/app/assets/stylesheets/home.css.scss */
#portfolio {
  max-height: 87%;
}

/* line 136, /Users/code/orlene/app/assets/stylesheets/home.css.scss */
#thumbs {
  display: inline-block;
  text-align: center;
}
/* line 6, /Users/code/orlene/app/assets/stylesheets/pictures.css.scss */
#contentimage img {
  max-height: 475px;
  margin-bottom: 25px;
}

/* line 12, /Users/code/orlene/app/assets/stylesheets/pictures.css.scss */
#portfolioshow {
  display: inline-block;
}
/* line 4, /Users/code/orlene/app/assets/stylesheets/posts.css.scss */
h1, h2, h3, h4, h5 {
  color: #813c8e;
  font-family: 'Quicksand', sans-serif;
}

/* line 9, /Users/code/orlene/app/assets/stylesheets/posts.css.scss */
a {
  color: #813c8e;
}

/* line 12, /Users/code/orlene/app/assets/stylesheets/posts.css.scss */
a:visited {
  color: #813c8e;
}

/* line 15, /Users/code/orlene/app/assets/stylesheets/posts.css.scss */
a:hover {
  color: #666;
}

/* line 18, /Users/code/orlene/app/assets/stylesheets/posts.css.scss */
a:active {
  color: #813c8e;
}

/* line 23, /Users/code/orlene/app/assets/stylesheets/posts.css.scss */
#mypicks_form {
  margin-bottom: 20px;
}

/* line 27, /Users/code/orlene/app/assets/stylesheets/posts.css.scss */
#post {
  max-width: 775px;
}
/* line 29, /Users/code/orlene/app/assets/stylesheets/posts.css.scss */
#post img {
  max-width: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* line 35, /Users/code/orlene/app/assets/stylesheets/posts.css.scss */
#post h3 {
  text-align: center;
}
/* line 38, /Users/code/orlene/app/assets/stylesheets/posts.css.scss */
#post a {
  color: #813c8e;
}
/* line 41, /Users/code/orlene/app/assets/stylesheets/posts.css.scss */
#post a:visited {
  color: #813c8e;
}
/* line 44, /Users/code/orlene/app/assets/stylesheets/posts.css.scss */
#post a:hover {
  color: #666;
}
/* line 47, /Users/code/orlene/app/assets/stylesheets/posts.css.scss */
#post a:active {
  color: #813c8e;
}

/* line 52, /Users/code/orlene/app/assets/stylesheets/posts.css.scss */
#pagehead {
  display: inline-block;
}

/* line 56, /Users/code/orlene/app/assets/stylesheets/posts.css.scss */
#posttitle {
  text-align: center;
}

/* line 60, /Users/code/orlene/app/assets/stylesheets/posts.css.scss */
#postimage {
  margin: 0 auto;
}

/* line 64, /Users/code/orlene/app/assets/stylesheets/posts.css.scss */
#postsindex {
  margin-left: 0;
}

/* line 68, /Users/code/orlene/app/assets/stylesheets/posts.css.scss */
#showpost {
  margin-left: 0;
}

/* line 72, /Users/code/orlene/app/assets/stylesheets/posts.css.scss */
#bottom-links {
  display: inline-block;
  list-style: none;
  text-align: center;
  color: #813c8e;
  font-family: 'Quicksand', sans-serif;
}

/* line 82, /Users/code/orlene/app/assets/stylesheets/posts.css.scss */
#minipostimage img {
  max-width: 200px;
  right-margin: 10px;
}

/* line 88, /Users/code/orlene/app/assets/stylesheets/posts.css.scss */
#minibody {
  word-wrap: break-word;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 *= require_bootstrap.min

 */


html {

}

body {
  margin: 0;
}

.navbar-default {
  background-color: white;
  border-color: white;
}

.navbar-default .navbar-brand {
  color: #813c8e;
  font-family: 'Dawning of a New Day', cursive;
}

#menu-items ul li {
  text-align: right;
  color: #813c8e;
  font-family: 'Quicksand', sans-serif;
}

#background {
  background-image: url('background.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  max-height: 1090;
}

#content {
  max-width: 100%;
  max-height: 475px;
  overflow-y: scroll;
  overflow-x: hidden;
}

#contentimage {
  max-width: 100%;
  max-height: 525px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.container#main {
  max-height: 94%;
  background-color: white;
  -moz-border-radius: 15px;
  border-radius: 15px;
  margin: 8%;
  padding-top: 8px;
}

#menu ul {
  margin: 0px;
  padding-right: 40px;
  list-style-type: none;
    a:link {
      color: #813c8e;
    }
    a:visited {
      color: #813c8e;
    }
    a:hover {
      color: #666;
    }
    a:active {
      color: #813c8e;
    }
}

#menu ul li {
  display: inline;
  float: right;
  margin: 5px;
  font-family: 'Quicksand', sans-serif;
  a:link {
    color: #813c8e;
  }
  a:visited {
    color: #813c8e;
  }
  a:hover {
    color: #666;
  }
  a:active {
    color: #813c8e;
  }
}

h2, h3, h4 {
  text-align: center;
  color: #813c8e;
}

h3 {
  font-family: 'Quicksand', sans-serif;
}

h1 {
  color: #813c8e;
  font-family: 'Dawning of a New Day', cursive;
}

#email {
  color: #813c8e;
  font-family: 'Quicksand', sans-serif;
  padding: 4px;
}


.brand {
  text-align: left;
  font-family: 'Dawning of a New Day', cursive;
}

.header {
  margin: 17px;
  padding-top: 10px;
  color: #813c8e;
}

.navbar-brand {
  font-family: 'Dawning of a New Day', cursive;
  color: #813c8e;
}

hr {
  height: 2px;
}


.row-centered {
  text-align: center;
}

.col-centered {
  display: inline-block;
  float: none;
  /* reset the text-align */
  text-align: left;
}

.leftie {
  text-align: left;
}

.righty {
  text-align: right;
}

#template-title {
  padding: 9px;
  text-align: center;
}
.rails-bootstrap-forms-date-select select,
.rails-bootstrap-forms-time-select select,
.rails-bootstrap-forms-datetime-select select {
  display: inline-block;
  width: auto;
}

.rails-bootstrap-forms-error-summary {
  margin-top: 10px;
}
