.container#content
  .row.col-lg-10.col-lg-offset-1#portfolio
    .row#pagehead
      =link_to root_path, class: "btn btn-default" do
        %i.glyphicon.glyphicon-arrow-left.pull-left
      %br
    %hr/
    %h3.template-title Weddings
    %hr/
    %br
    .row#thumbs
      .col-md-3
        .well
          %img.thumbnail.img-responsive{:alt => "Bootstrap template", :src => "https://prepbootstrap.com/Content/images/shared/houses/h9.jpg"}/
      .col-md-3
        .well
          %img.thumbnail.img-responsive{:alt => "Bootstrap template", :src => "https://prepbootstrap.com/Content/images/shared/houses/h8.jpg"}/
      .col-md-3
        .well
          %img.thumbnail.img-responsive{:alt => "Bootstrap template", :src => "https://prepbootstrap.com/Content/images/shared/houses/h4.jpg"}/
      .col-md-3
        .well
          %img.thumbnail.img-responsive{:alt => "Bootstrap template", :src => "https://prepbootstrap.com/Content/images/shared/houses/h9.jpg"}/
      .col-md-3
        .well
          %img.thumbnail.img-responsive{:alt => "Bootstrap template", :src => "https://prepbootstrap.com/Content/images/shared/houses/h8.jpg"}/
      .col-md-3
        .well
          %img.thumbnail.img-responsive{:alt => "Bootstrap template", :src => "https://prepbootstrap.com/Content/images/shared/houses/h4.jpg"}/
      .col-md-3
        .well
          %img.thumbnail.img-responsive{:alt => "Bootstrap template", :src => "https://prepbootstrap.com/Content/images/shared/houses/h4.jpg"}/
      .col-md-3
        .well
          %img.thumbnail.img-responsive{:alt => "Bootstrap template", :src => "https://prepbootstrap.com/Content/images/shared/houses/h9.jpg"}/
      .col-md-3
        .well
          %img.thumbnail.img-responsive{:alt => "Bootstrap template", :src => "https://prepbootstrap.com/Content/images/shared/houses/h8.jpg"}/
      .col-md-3
        .well
          %img.thumbnail.img-responsive{:alt => "Bootstrap template", :src => "https://prepbootstrap.com/Content/images/shared/houses/h4.jpg"}/
      .col-md-3
        .well
          %img.thumbnail.img-responsive{:alt => "Bootstrap template", :src => "https://prepbootstrap.com/Content/images/shared/houses/h4.jpg"}/
      .col-md-3
        .well
          %img.thumbnail.img-responsive{:alt => "Bootstrap template", :src => "https://prepbootstrap.com/Content/images/shared/houses/h9.jpg"}/
    %hr/
    %h3.template-title Terrariums
    %hr/
    %br
    .row#thumbs
      .col-md-3
        .well
          %img.thumbnail.img-responsive{:alt => "Bootstrap template", :src => "https://prepbootstrap.com/Content/images/shared/houses/h8.jpg"}/
      .col-md-3
        .well
          %img.thumbnail.img-responsive{:alt => "Bootstrap template", :src => "https://prepbootstrap.com/Content/images/shared/houses/h4.jpg"}/
      .col-md-3
        .well
          %img.thumbnail.img-responsive{:alt => "Bootstrap template", :src => "https://prepbootstrap.com/Content/images/shared/houses/h4.jpg"}/
      .col-md-3
        .well
          %img.thumbnail.img-responsive{:alt => "Bootstrap template", :src => "https://prepbootstrap.com/Content/images/shared/houses/h9.jpg"}/
      .col-md-3
        .well
          %img.thumbnail.img-responsive{:alt => "Bootstrap template", :src => "https://prepbootstrap.com/Content/images/shared/houses/h8.jpg"}/
      .col-md-3
        .well
          %img.thumbnail.img-responsive{:alt => "Bootstrap template", :src => "https://prepbootstrap.com/Content/images/shared/houses/h4.jpg"}/
      .col-md-3
        .well
          %img.thumbnail.img-responsive{:alt => "Bootstrap template", :src => "https://prepbootstrap.com/Content/images/shared/houses/h4.jpg"}/
      .col-md-3
        .well
          %img.thumbnail.img-responsive{:alt => "Bootstrap template", :src => "https://prepbootstrap.com/Content/images/shared/houses/h9.jpg"}/
          %br
        %br
    %hr/
    %h3.template-title Events
    %hr/
    %br
    .row#thumbs
      .col-md-3
        .well
          %img.thumbnail.img-responsive{:alt => "Bootstrap template", :src => "https://prepbootstrap.com/Content/images/shared/houses/h8.jpg"}/
      .col-md-3
        .well
          %img.thumbnail.img-responsive{:alt => "Bootstrap template", :src => "https://prepbootstrap.com/Content/images/shared/houses/h4.jpg"}/
      .col-md-3
        .well
          %img.thumbnail.img-responsive{:alt => "Bootstrap template", :src => "https://prepbootstrap.com/Content/images/shared/houses/h4.jpg"}/
      .col-md-3
        .well
          %img.thumbnail.img-responsive{:alt => "Bootstrap template", :src => "https://prepbootstrap.com/Content/images/shared/houses/h9.jpg"}/
      .col-md-3
        .well
          %img.thumbnail.img-responsive{:alt => "Bootstrap template", :src => "https://prepbootstrap.com/Content/images/shared/houses/h8.jpg"}/
      .col-md-3
        .well
          %img.thumbnail.img-responsive{:alt => "Bootstrap template", :src => "https://prepbootstrap.com/Content/images/shared/houses/h4.jpg"}/
