h1, h2, h3, h4, h5 {
  color: #813c8e;
  font-family: 'Quicksand', sans-serif;
}


#nav-menu {
  ul{
     li {
       margin-top: 5px;
       margin-bottom: 25px;
       margin-right: 25px;
       color: #813c8e;
       font-family: 'Quicksand', sans-serif;
       h4 {
         color: #813c8e;
         a:link {
           color: #813c8e;
         }
         a:visited {
           color: #813c8e;
         }
         a:hover {
           color: #813c8e;
         }
         a:active {
           color: #813c8e;
         }
       }
       a:link {
         color: #813c8e;
       }
       a:visited {
         color: #813c8e;
       }
       a:hover {
         color: #813c8e;
       }
       a:active {
         color: #813c8e;
       }
    }
  }
}
