// Place all the styles related to the albums controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#newphotos {
  margin-left: 30px;
  margin-right: 30px;
}

#thumbs {
  display: inline-block;
  text-align: center;
}


#seemore {
  text-align: center;
}
